#main {
  background: url("../../images/main_bg.png");
  width: 100%;
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 26vh;
  position: relative;
}

.back-btn {
  position: fixed;
  right: 10%;
  top: 17%;
}

.column1 {
  width: 60%;
  z-index: 1;
}

.column1-nested1 {
  background: linear-gradient(to right, #1d4791, #3f6ebe);
  color: #fff;
  display: flex;
  padding: 2% 3% 2% 4%;
  border-radius: 7px;
}
.column1-nested1__bg {
  position: absolute;
  top: -16%;
  left: 3%;
}

.column1-nested1-column1 {
  padding-right: 2vw;
  border-right: 1.8px solid #255887;
}

.column1-nested1-column h5 {
  margin-top: 1vh;
  letter-spacing: 1px;
}

.column1-nested1-column1 h4 {
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 2vh;
}

.column1-nested1-column1 p {
  margin-top: 1vh;
  font-size: 12px;
  font-weight: 400;
}

.column1-nested1-column2 {
  padding-left: 2vw;
}

.column1-nested1-column2 ul {
  margin: 15px 1vw;
}

.column1-nested1-column2 ul li {
  font-size: 13px;
  padding: 5px;
}

.column1-nested1-column2 img {
  display: flex;
  margin: 0 auto;
  margin-top: 5vh;
}

.column1-nested1-column1-img {
  position: relative;
}

.column1-nested1-column1-img__icon {
  position: absolute;
  color: #5d5d5d;
  top: 49%;
  left: 42%;
}

.column1-nested2 {
  margin-top: 3.5%;
  display: flex;
  justify-content: space-between;
}
.column1-nested2_column {
  width: 42%;
  padding: 3%;
  border-radius: 8px;
  background: linear-gradient(to right, #1d4791, #3f6ebe);
  color: #fff;
  letter-spacing: 1px;
  font-weight: 500;
}

.column1-nested2_column2 img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.viewNow-button {
  background: none;
  border: 1px solid #f7992f;
  color: #f7992f;
  padding: 5px 16px 5px 16px;
  border-radius: 17px;
  font-size: 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
}

.c1n1-row1 {
  display: flex;
  justify-content: space-between;
}

.c1n1-row1 p:nth-of-type(2) {
  font-weight: 400;
}

.c1n1-row2 {
  display: flex;
  justify-content: space-between;
  margin-top: 2vh;
}

.c1n1-row2 .showData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.showData-row {
  font-size: 12px;
  display: flex;
  width: 100%;
  line-height: 1;
}
.c1n1-row2 .showData .showData-row div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 6px;
}

.c1n1-row2 .showData .showData-row:nth-child(1) div {
  background: green;
}

.c1n1-row2 .showData .showData-row:nth-child(2) div {
  background: orange;
}

.c1n1-row2 .progress {
  border: 2px solid #bf6969;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.c1n1-row2 .progress p {
  text-align: center;
}
.c1n1-row2 .progress p:nth-of-type(1) {
  margin-top: 28%;
}

.column2 {
  background: url("../../images/bg1.png");
  width: 34%;
  background-repeat: no-repeat;
  background-position: inherit;
  background-size: cover;
  border-radius: 6px;
  position: relative;
}

.column2-overImg {
  background: url("../../images/batBall.png");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  top: -34%;
}

.column2-container {
  text-align: center;
  margin-top: 27vh;
}

.column2-container h5 {
  margin-bottom: 2vh;
}

.column2-nested {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.column2-nested-column {
  width: 33.33%;
  text-align: center;
}
.column2-nested-column p:nth-child(1) {
  background: #fff;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  margin: 0 auto;
}

.column2-nested-column p:nth-child(2) {
  font-size: 13px;
}

.column2-nested1 {
  margin-top: 6vh;
  color: rgb(241, 220, 220);
  font-size: 12px;
}

.column2-nested1 button {
  border: none;
  box-shadow: none;
  background: #ffce00;
  color: #525967;
  padding: 9px 23px 9px 23px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 15px;
  margin: 14px 0 5px 0;
}

.column2-nested2 {
  display: flex;
  justify-content: flex-end;
  margin-right: 1vw;
  color: #fff;
}

.column2-nested2 svg {
  margin-top: 2vh;
}

.column2-nested2 button {
  background: none;
  border: none;
  color: #ffce00;
  font-size: 16px;
  text-decoration: underline;
  margin: 14px;
  cursor: pointer;
}
