.fullView {
  position: absolute;
  left: 30%;
  top: 25%;
  background: #fff;
  width: 57%;
  height: 50%;
}

.fv-overlay {
  position: absolute;
  top: 25%;
  left: 30%;
  opacity: 0.6;
  width: 56%;
  height: 49%;
  border: 5px solid #fff;
  border-radius: 5px;
}
